header {
    height: 100vh;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.img-logo {
    width: 65px;
    margin: 40px;
}

h1 {
    color: #c38651;
    font-size: 2.5rem;
}